body {
    /* uigradients.com */
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen, sans-serif;
}

.activity-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 26px;
}

.btn-wrapper {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    height: 100px;
    width: 100px;
    margin-top: 130px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
    box-shadow: 1px 1px black;
}

#restart-activity-btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

.animation {
    animation : pulse 0.5s 3s infinite alternate;
}

@keyframes pulse {
   from { transform: scale(1)   ; opacity: 1;    }
   to   { transform: scale(0.75); opacity: 0.7; }
}